.no-records > .icon {
	font-size: 4.5rem;
	color: var(--heading-color);
	margin-top: 0.25rem;
	margin-bottom: -0.25rem;
}

.table-top, .table-info {
	gap: var(--line-gap) 1rem;
	flex-wrap: wrap-reverse;
}

.dataTable-wrapper {
	width: 100%;
	overflow: auto;
	border-radius: 0.375rem;
}
.dataTable {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
.dataTable-th, .dataTable-col {
	padding: 0.25rem 0.875rem;
	height: 3rem;
	line-height: 1.25;
}
.dataTable-th {
	min-width: var(--min-width, unset);
}
.dataTable-header-row {
	background: var(--link-light-bg);
	border-radius: 0.5rem 0.5rem 0 0;
}
.dataTable-row, .dataTable-header-row {
	border-bottom: 1px solid var(--border);
	position: relative;
}
.dataTable-row:not(.isDisabled, .isLoading):hover {
	background: var(--link-lighter-bg);
}

.dataTable-row:is(.isDisabled, .isLoading) .dataTable-col:not(.dataTable-col-placeholder) {
	pointer-events: none;
	opacity: 0.6;
}

.dataTable-row.isDisabled {
	cursor: not-allowed;
}
.dataTable-row.isLoading {
	cursor: wait;
}

.dataTable-col-placeholder, .dataTable-th-placeholder {
	width: 0;
	padding: 0;
}
.dataTable-row:is(.isDisabled, .isLoading) .dataTable-col-placeholder::before {
	content: '';
	position: absolute;
	inset: 0;
	z-index: 2;
}
.dataTable-row.isLoading .dataTable-col-placeholder::after {
	position: absolute;
	content: '';
	display: block;
	left: calc(50% - 1em);
	top: calc(50% - 1em);
	width: 2em;
	height: 2em;
	border: 0.1875em solid var(--heading-color);
	border-radius: 2em;
	border-bottom-color: transparent;
	animation: rotate 1s linear infinite;
}

.dataTable-col.isClickable {
	position: relative;
}
.dataTable-col-link {
	position: absolute;
	inset: 0;
}
:is(.dataTable-col, .dataTable-row).isClickable:hover .basic-link, .dataTable-row.isClickable:hover .dataTable-col.isClickable {
	text-decoration: none;
}
.dataTable-col-buttons {
	width: 1rem;
	white-space: nowrap;
	padding: 0.25rem 0.5rem;
	text-align: right;
}
.dataTable-col-buttons > :is(.button, .ico-button):not(:last-child) {
	margin-right: 0.125rem;
}

.dataTable-col-input {
	padding: .25rem;
}

.dataTable-col-cb {
	width: 1rem;
}
.dataTable-th.isEmpty {
	padding-inline: 0;
}
.dataTable-col-icon {
	color: var(--heading-color);
	font-size: 1.25rem;
	width: 1rem;
}
.dataTable-col-icon .icon {
	display: block;
	margin: auto;
}

.dataTable-col-date {
	min-width: 7rem;
	width: 12rem;
}

:is(.dataTable-col.ta-c, .dataTable-th-cb, .dataTable-col-cb) :is(.input-radio, .input-toggle, .input-cb) {
	margin: 0 auto;
}

.dataTable-col-input :is(.input, .input-number) {
	padding-block: .40625rem;
	line-height: 1.5;
}
.dataTable-col-input .input-number-el {
	padding-inline: .0625rem;
}

.table-info > :is(.input-wrapper, .button) {
	margin-top: 0;
	flex: 1 1 auto;
}